<div class="content">
  <div class="women_main">
    <div class="contact">
      <div class="contact_info">
      <h2><%= t ".get_touch" %></h2>
      <div class="map">
      </div>
      </div>
      <div class="contact-form">
        <h2><%= t ".contact" %></h2>
        <form>
          <div>
            <span><label><%= t ".name" %></label></span>
            <span><input name="userName" type="text" class="textbox"></span>
          </div>
          <div>
            <span><label><%= t ".email" %></label></span>
            <span><input name="userEmail" type="text" class="textbox"></span>
          </div>
          <div>
            <span><label><%= t ".mobile" %></label></span>
            <span><input name="userPhone" type="text" class="textbox"></span>
          </div>
          <div>
            <span><label><%= t ".subject" %></label></span>
            <span><textarea name="userMsg"> </textarea></span>
          </div>
          <div>
            <span><input type="submit" class="" value="Submit us"></span>
          </div>
        </form>
      </div>
    <div class="clearfix"></div>
  </div>
</div>
