<div class="content">
  <div class="women_main">
    <div class="cal-main">
      <div class="calender graph-form">
        <div class="tool-tips">
          <h3 class="inner-tittle two"><%= t ".simple_tooltips" %></h3>
          <div class="tool-tips graph-form">
            <div class="bs-example-tooltips">
              <button type="button" class="btn btn-default tip"
                data-toggle="tooltip" data-placement="left"
                title="" data-original-title="Tooltip on left">
                <%= t ".tooltip" %>
              </button>
              <button type="button" class="btn btn-default tip"
                data-toggle="tooltip" data-placement="top"
                title="" data-original-title="Tooltip on top">
                <%= t ".tooltip_top" %>
              </button>
              <button type="button" class="btn btn-default tip"
                data-toggle="tooltip" data-placement="bottom"
                title="" data-original-title="Tooltip on bottom">
                <%= t ".tooltip_bottom" %>
              </button>
              <button type="button" class="btn btn-default tip"
                data-toggle="tooltip" data-placement="right"
                title="" data-original-title="Tooltip on right">
                <%= t ".tooltip_right" %>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
