<% @workspaces.each_with_index do |workspace, index|%>
  <tr>
    <td><%= increase_index @workspaces, index %></td>
    <td><%= workspace.name %></td>
    <td><%= workspace.description %></td>
    <td>
      <%= link_to t(".edit"),
        edit_admin_workspace_path(workspace.id), remote: true %></td>
    <td>
      <%= link_to t(".delete"), admin_workspace_path(workspace.id),
        method: :delete,
        data: {confirm: t("admin.workspaces.delete_workspace_confirmation")} %>
    </td>
  </tr>
<% end %>
