<% @workspaces.each_with_index do |workspace, index| %>
  <tr>
    <td><%= increase_index @workspaces, index %></td>
    <td><%= workspace.name %></td>
    <td><%= workspace.description %></td>
    <td>
      <%= link_to t(".edit"),
        edit_workspace_path(workspace.id), remote: true %></td>
    <td>
      <%= link_to t(".delete"), workspace_path(workspace.id),
        method: :delete,
        data: {confirm: t("workspaces.delete_workspace_confirmation")} %>
    </td>
    <td>
      <%= link_to t(".show"), workspace_path(workspace.id) %>
    </td>
  </tr>
<% end %>
