<div class="banner-w3agile">
  <div class="row">
    <div class="col-md-12">
      <%= link_to t(".new_user"), new_user_path,
        class: "btn btn-primary" %>
    </div>
  </div>
  <div class="container">
    <h3>
      <span>
        <h1><%= t ".title" %></h1>
      </span>
    </h3>
  </div>
</div>
<div class="containe">
  <div class="col-md-12">
    <table  id="table_list" class="table table-striped table-bordered">
      <thead class="thead-inverse">
        <tr>
          <th class="text-center"><%= t ".index_num" %></th>
          <th class="text-center"><%= t ".name" %></th>
          <th class="text-center"><%= t ".email" %></th>
          <th class="text-center"><%= t ".workspace" %></th>
          <th class="text-center"><%= t ".department" %></th>
          <th class="text-center"><%= t ".position" %></th>
          <th class="text-center"><%= t ".role" %></th>
          <th class="text-center"><%= t ".created_at" %></th>
          <th class="text-center" colspan="3"><%= t ".actions" %> </th>
        </tr>
      </thead>
      <tbody>
        <%= render "user_item" %>
      </tbody>
    </table>
    <%= paginate @users %>
  </div>
</div>
