<div class="content">
  <div class="women_main">
    <div class="grids">
      <div class="progressbar-heading grids-heading">
        <h1><%= yield(:modal_title) %></h1>
      </div>
      <div class="panel panel-widget forms-panel">
        <div class="forms">
          <div class="form-grids widget-shadow" data-example-id="basic-forms">
            <div class="form-title">
              <h4><%= t ".form" %></h4>
            </div>
            <div class="form-body">
              <%= form_for [:admin, @project] do |f| %>
                <div class="modal-body">
                  <div class="form_errors">
                    <%= render "shared/error_messages", object: @project %>
                  </div>
                  <div class="form-group">
                    <%= f.label :name %>
                    <%= f.text_field :name, class: "form-control" %>
                  </div>

                  <div class="form-group">
                    <%= f.label :abbreviation %>
                    <%= f.text_area :abbreviation, class: "form-control" %>
                  </div>

                  <%= f.label :start_date %>
                  <div class="input-group datepicker">
                    <%= f.text_field :start_date, class: "form-control" %>
                    <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                  </div>

                  <%= f.label :end_date %>
                  <div class="input-group datepicker">
                    <%= f.text_field :end_date, class: "form-control" %>
                    <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                  </div>
                </div>
                <div class="modal-footer">
                  <span class="pull-right">
                    <%= f.submit t(".create_project"),
                      class: "btn btn-default" %>
                  </span>
                  <span class="pull-left">
                    <%= link_to t(".cancel_button"), "#",
                      class: "btn btn-default", data: {dismiss: "modal"} %>
                  </span>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
