<div class="fo-top-di">
  <div class="foot-top">
    <div class="col-md-6 s-c">
      <li>
        <div class="fooll">
          <h1><%= t ".follow_on" %></h1>
        </div>
      </li>
      <div class="clearfix"> </div>
    </div>
    <div class="col-md-6 s-c">
      <div class="stay">
        <div class="stay-left">
          <form>
            <input type="text">
          </form>
        </div>
        <div class="btn-1">
          <form>
            <input type="submit" value="join">
          </form>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
    <div class="clearfix"> </div>
  </div>
  <div class="footer">
    <div class="col-md-3 cust">
      <h4><%= t ".customer_care" %></h4>
      <li><%= link_to t("help_center"), "#" %></li>
      <li><%= link_to t("faq"), "#" %></li>
      <li><%= link_to t("how_to_buy"), "#" %></li>
      <li><%= link_to t("delivery"), "#" %></li>
    </div>
    <div class="col-md-2 abt">
      <h4><%= t ".about_us" %></h4>
      <li><%= link_to t("our_stories"), "#" %></li>
      <li><%= link_to t("press"), "#" %></li>
      <li><%= link_to t("career"), "#" %></li>
      <li><%= link_to t("contact"), "#" %></li>
    </div>
    <div class="col-md-2 myac">
      <h4><%= t ".mu_account" %></h4>
      <li><%= link_to t("register"), "#" %></li>
      <li><%= link_to t("my_cart"), "#" %></li>
      <li><%= link_to t("order_history"), "#" %></li>
      <li><%= link_to t("payment"), "#" %></li>
    </div>
    <div class="col-md-5 our-st">
      <div class="our-left">
        <h4><%= t ".our_stores" %></h4>
      </div>
      <li><%= link_to t("mark_peter"), "#" %></li>
      <li><%= link_to t("012-586987"), "#" %></li>
      <li><%= link_to t("email"), "#" %></li>
    </div>
      <div class="clearfix"> </div>
      <p><%= t ".design_by" %></p>
  </div>
</div>
