<div class="page-container">
  <div class="left-content">
    <div class="header-section">
      <div class="top_bg">
        <div class="header_top">
          <div class="top_right">
            <ul>
              <li><%= link_to t("home"), root_path %></li>
              <li><%= link_to t("contact"), "#" %></li>
              <li><%= link_to t("help"), "#" %></li>
            </ul>
          </div>
          <div class="top_left">
            <h2><span></span> <%= t ".callus" %></h2>
          </div>
          <div class="clearfix"> </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="header_bg">
      <div class="header">
        <div class="head-t">
          <div class="header_left">
            <%= link_to image_tag("logo.png", class:"img-responsive"),
              root_path %>
            <div class="header_right">
              <div class="rgt-bottom">
                <div class="log">
                  <div class="login">
                    <div id="loginContainer">
                      <%= link_to t("login"), "#", id:"loginButton" %>
                      <div id="loginBox" style="display: none;">
                        <form id="loginForm">
                          <fieldset id="body">
                            <fieldset>
                              <label for="email"><%= t ".email" %></label>
                              <input type="text" name="email" id="email">
                            </fieldset>
                            <fieldset>
                              <label for="password">
                                <%= t ".password" %>
                              </label>
                              <input type="password" name="password"
                                id="password">
                            </fieldset>
                            <input type="submit" id="login" value="Sign in">
                            <label for="checkbox">
                              <input type="checkbox" id="checkbox">
                                <i><%= t ".remember" %></i>
                            </label>
                          </fieldset>
                          <span><%= link_to t(".forgotpassword"), "#" %>
                          </span>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="reg">
                  <%= link_to t(".register"), "#" %>
                </div>
                <div class="clearfix"> </div>
              </div>
              <div class="search">
                <form>
                  <input type="text">
                  <input type="submit" ">
                </form>
              </div>
              <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
          </div>
        </div>
      </div>
    </div>
    <div class="inner-content">
      <div class="sidebar-menu">
        <header class="logo1">
          <%= link_to "#", class:"sidebar-icon" do %>
            <span class="fa fa-bars"></span>
          <% end %>
        </header>
        <div class="menu">
          <ul id="menu" >
            <li id="menuu-academico">
              <%= link_to root_path do %>
                <i class="fa fa-home"></i>
                <span><%= t("home") %></span>
              <% end %>
            </li>
            <li id="menu-academico" >
              <%= link_to static_pages_help_path do %>
                <i class="fa fa-table"></i>
                <span><%= t("help") %></span>
              <% end %>
            </li>
            <li id="menu-academico" >
              <%= link_to "#" do %>
                <i class="fa fa-file-text-o"></i>
                <span><%= t("Watchers") %></span>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    <div class="clearfix"></div>
</div>
